body{
    height: 97h;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: rgb(26, 76, 85);
    color: white;
    /* transition: 1s;; */
}

section#main{
    width: 100%;
    height: 600px;
   flex-direction: row;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
line, circle{
    stroke: aliceblue;
}

div.ans{
    margin-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
width: 30%;
height: 20px;

}
div.container{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}
span{
    width: 15px;
    height: auto;
    border-bottom: 2px rgb(183, 211, 230) solid;
    padding: 3px;
    padding-right: 3px;
    font-size: larger;
}
div.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed
    ;
    width: 100vw;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.623);
}
.box{
    width: 350px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    height: 50px;
}
.hidden{
    display: none !important;
}
.mistakes{
    width: 200px;
    height: 30px;
    
}