body{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(1339755.jpeg);
    background-size: cover;
    font-family: "Merriweather", serif;

}
section.data{
    background-color: aliceblue;
    width: 600px;
    height: 550px;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
   
}
h1{
    font-weight: 600;
    font-size: 40px;
}
ul{
    list-style: none;
    padding: 40;
    margin: 0;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
li{
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
section.buttons{
    background-color: aliceblue;
    width: 800px;
    height: 80px;
    margin-top: 70px;
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
button{
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Merriweather", serif;
border: 1px solid rgb(93, 85, 85)
}
